{{#if listCart}}
<dir class="container body" style="padding-top:20px; padding-bottom:20px">
    <div class="card card1">
        <div class="row row1">
            <div class="col-md-8 cart1">
                <div class="title1">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col col1 align-self-center text-end text-muted">{{listCart.length}} items</div>
                    </div>
                </div>
                {{#each listCart}}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2 col1"><img class="img-fluid img" src="{{this.files.[0]}}"></div>
                        <div class="col-4 col1">
                            <div class="row text-muted">{{this.type}}</div>
                            <div class="row">{{this.name}}</div>
                        </div>
                        <div class="col-1 align-items-center amount" style="padding:0px"> {{this.number}} </div>
                        <div class="col col1"><span class="price">{{this.price}}</span><a class="a"
                                style="float:right; text-decoration: none;" onclick="popCart('{{this.id}}')">X</a></div>
                    </div>
                </div>
                {{/each}}
                <div class="back-to-shop text-muted"><a href="/" style="text-decoration: none;">&leftarrow; Quay lại</a>
                </div>
            </div>
            <div class="col-md-4 summary1">
                <div>
                    <h5 style="margin-top: 4vh"><b>Summary</b></h5>
                </div>


                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">Tổng cộng</div>
                    <div class="col text-right" id="total">100.000Vnd</div>
                </div> <a class="btn btn1" href="/purchase">Thanh toán</a>
            </div>
        </div>
    </div>
</dir>
{{else}}
<div class="container body" style="display: block; padding-top: 20px;">
    <div>
        <div class="card">
            <div class="card-header">
                <h5>Giỏ hàng</h5>
            </div>
            <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png"
                        width="130" height="130" class="img-fluid mb-4 mr-3">
                    <h3><strong>Không có gì trong giỏ hàng</strong></h3>
                    <a href="/" class="btn btn-primary cart-btn-transform my-3" data-abc="true">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{err}}

{{#if err}}
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-weight: normal;">
                Sản phẩm "{{err}}" không còn đủ số lượng hoặc không khả dụng.
                <br>
                Xin vui lòng xóa sản phẩm để tiếp tục thanh toán!
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Modal').modal('show');
    });
</script>
{{/if}}

<style>
    .body1 {
        background: #ddd;
        vertical-align: middle;
        display: flex;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold
    }

    .title1 {
        margin-bottom: 5vh
    }

    .card1 {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .card1 {
            margin: 3vh auto
        }
    }

    .cart1 {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }

    @media(max-width:767px) {
        .cart1 {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }

    .summary1 {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    @media(max-width:767px) {
        .summary1 {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }

    .summary1 .col-2 {
        padding: 0
    }

    .summary1 .col-10 {
        padding: 0
    }

    .row1 {
        margin: 0
    }

    .title1 b {
        font-size: 1.5rem
    }

    .main1 {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    .col1 {
        padding: 0 1vh
    }

    .a {
        padding: 0 1vh
    }

    .a:hover {
        cursor: pointer;
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    .img {
        width: 3.5rem
    }

    .back-to-shop {
        margin-top: 4.5rem
    }

    .form {
        padding: 2vh 0
    }

    .select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    .input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    .input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .btn1 {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0
    }

    .btn1:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }

    .btn1:hover {
        color: white
    }

    .a {
        color: black
    }

    .a:hover {
        color: black;
        text-decoration: none
    }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
</style>

<script>
    function popCart(id) {
        amount = $("#amount").val();
        $.ajax({
            url: "/popCart",
            type: "GET",
            data: {
                id: id
            },
            dataType: "json",

            success: function (data) {
                if (data.state != "fail") {
                    location.reload();
                }
            }
        });
    }

    $(document).ready(() => {
        var prices = document.getElementsByClassName("price");
        var amounts = document.getElementsByClassName("amount");
        var sum = 0;
        for (var i = 0; i < prices.length; i++) {
            var priceFloat = parseFloat(prices[i].innerHTML.replace(/[^0-9]/g, ''));
            sum += priceFloat * parseInt(amounts[i].innerHTML);
        }
        sum = sum.toLocaleString('it-IT', {
            style: 'currency',
            currency: 'VND'
        });
        console.log(sum)
        $("#total").html(sum);
    });
</script>