<div class="list-product container">
    <nav style="
          --bs-breadcrumb-divider: url(
            &#34;data:image/svg + xml,
            %3Csvgxmlns='http://www.w3.org/2000/svg'width='11'height='11'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
          );
        " aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">HOME</a></li>
        <li class="breadcrumb-item active page_hientai" aria-current="page">
          Sản phẩm mới
        </li>
      </ol>
    </nav>

    <div class="d-flex flex-row-reverse bd-highlight">
        <select class="form-select sort-options p-2 bd-highlight mt-3" aria-label="Default select example">
            <option selected>Default</option>
            <option value="1">A -> Z</option>
            <option value="2">Z -> A</option>
            <option value="3">Giá tăng dần</option>
            <option value="4">Giá giảm dần</option>
        </select>
    </div>
    <div class="row pt-2 mx-n2 list_product">
        <!-- Product -->
        {{#each listProducts}}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
                <div class="product-card-actions d-flex align-items-center">
                </div><a class="card-img-top d-block overflow-hidden" href="/product?id={{this.id}}"><img
                        class="hinh_san_pham" src="{{this.files.[0]}}" alt="Product"></a>
                <div class="card-body py-2">
                    <h3 class="product-title fs-sm text-truncate"><a class="ten_san_pham"
                            href="/product?id={{this.id}}">{{this.name}}</a></h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price gia_san_pham"><span class="text-accent">{{this.price}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                    <input class="nut_san_pham btn btn-primary btn-sm d-block w-100 mb-2" value="Thêm vào giỏ hàng"
                        type="button" onclick="addToCart('{{this.id}}', 1)">

                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        {{/each}}

    </div>


    <style>
        .sort-options {
            max-width: 200px !important;
        }
        .breadcrumb a {
       
        font-size: 30px;
    }
    .page_hientai {
        color: red !important;
        font-size: 30px;
    }
    </style>
    

    <script src="/javascript/sort3.js"></script>
    <script>
        function addToCart(id, amount) {
            $.ajax({
                url: "/cart",
                type: "GET",
                data: {
                    id: id,
                    amount: amount
                },
                dataType: "json",

                success: async function (data) {
                    if (data.state != "fail") {
                        $(".p1").attr("data-count", data.state);
                    }
                }
            });
        }
    </script>
</div>

