<div id="slider">

	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators button123">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-label="Slide 1" aria-current="true"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
				class=""></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
				class=""></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/images/img/slider_1.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/images/img/slider_2.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/images/img/slider_3.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>

<div id="content">

	<div class="title-list-product ">
		<ul class="nav">
			<li class="nav-item">
				<h3><a class="nav-link active" aria-current="page">Sản phẩm nổi bật</a></h3>
			</li>
		</ul>
	</div>


	<div class="list-product container">
		<div class="row pt-2 mx-n2">
			<!-- Product -->
			{{#each listProducts}}
			<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
				<div class="card product-card">
					<div class="product-card-actions d-flex align-items-center">
					</div><a class="card-img-top d-block overflow-hidden" href="/product?id={{this.id}}"><img src="{{this.files.[0]}}"
							alt="Product"></a>
					<div class="card-body py-2 ">
						<h3 class="product-title fs-sm text-truncate"><a href="/product?id={{this.id}}">{{this.name}}</a></h3>
						<div class="d-flex justify-content-between">
							<div class="product-price"><span class="text-accent">{{this.price}}</span></div>
						</div>
					</div>
					<div class="card-body card-body-hidden">
						<button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onclick="addToCart('{{this.id}}', 1)"><i class="ci-cart fs-sm me-1"></i>Thêm vào giỏ hàng</button>
					</div>
				</div>
				<hr class="d-sm-none">
			</div>
			{{/each}}

		</div>

	</div>

	<script>
		function addToCart(id, amount){
			console.log(id, amount);
            $.ajax({
                url: "/cart",
                type: "GET",
                data: {
                    id: id,
                    amount: amount
                },
                dataType: "json",

                success: async function (data) {
                    if (data.state != "fail") {
                        $(".p1").attr("data-count", data.state);
                    }
                }
            });
		}
	</script>
</div>