<div class="container body" style="padding-top:20px; padding-bottom:20px">
    <div class="container text_all">
        <div class="row">

            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="row px-0 ">
                            <div class="col">
                                <h6>Thông tin nhận hàng</h6>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row pb-2">
                                <input type="email" class="form-control" placeholder="Email" disabled>
                            </div>
                            <div class="row pb-2">
                                <input type="name" class="form-control" placeholder="Họ và tên" disabled>
                            </div>
                            <div class="row pb-2">
                                <input type="text" class="form-control" placeholder="Số điện thoại" disabled>
                            </div>
                            <div class="row">
                                <textarea placeholder="địa chỉ" name="info" rows="3" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col ">
                <div class="container">
                    <div class="row mb-3">
                        <div class="row px-0">
                            <h6>Vận chuyển</h6>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="row px-0 mt-3">
                            <h6>Thanh toán</h6>
                        </div>
                        <div class="form-check check py-2">
                            <input class="form-check-input" type="radio" checked></input>
                            <label class="form-check-label">Thanh toán khi giao hàng (COD)</label>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col">
                <div class="container">
                    <div class="row">
                        <h6>Đơn hàng </h6>
                    </div>
                    <hr>
                    {{#each listCart}}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2 col1"><img class="img-fluid img" src="{{this.files.[0]}}"></div>
                            <div class="col-4 col1">
                                <div class="row text-muted">{{this.type}}</div>
                                <div class="row">{{this.name}}</div>
                            </div>
                            <div class="col-1 align-items-center amount"> {{this.number}} </div>
                            <div class="col col1"><span class="price" style="float:right;">{{this.price}}</span></div>
                        </div>
                    </div>
                    {{/each}}

                    <div class="row">
                        <div class="container">

                            <div class="row">
                                <div class="col">
                                    <p>Tạm tính</p>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <p id="total1">5.800.000đ</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-auto">
                                    <p>Phí vận chuyển</p>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <p>0đ</p>
                                </div>

                            </div>
                            <hr>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col col-md-auto">
                            <h6>Tổng cộng</h6>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col d-flex justify-content-end">
                            <h6 style="color: red;" id="total"></h6>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-md-auto" style="padding-right:0%">
                            <p class="bi bi-caret-left-fill" style="color: red;"></p>
                        </div>
                        <div class="col">
                            <a href="/cartp" style="text-decoration: none;color: red;">Quay về giỏ hàng</a>
                        </div>

                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn_dn fw-bold btn btn-danger" id="purchase">
                                Đặt hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="notif">
            </div>
            <div class="modal-footer">
                <button type="button" id="closed" class="btn btn-secondary" data-dismiss="modal" disabled>
                    <span id="spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span id="button-closed">
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .text_all {
        font-size: 80%;
        color: rgb(100, 88, 88);
    }
</style>

<script>
    $(document).ready(() => {
        var prices = document.getElementsByClassName("price");
        var amounts = document.getElementsByClassName("amount");
        var sum = 0;
        for (var i = 0; i < prices.length; i++) {
            var priceFloat = parseFloat(prices[i].innerHTML.replace(/[^0-9]/g, ''));
            sum += priceFloat * parseInt(amounts[i].innerHTML);
        }
        sum = sum.toLocaleString('it-IT', {
            style: 'currency',
            currency: 'VND'
        });
        $("#total").html(sum);
        $("#total1").html(sum);

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        $("#purchase").click(function (e) {
            $("#Modal").modal("show");
            $("#spinner").show();
            $("#closed").prop("disabled", true);
            $("#notif").text("Loading...");
            $("#button-closed").text("Loading...");


            $.ajax({
                url: "/purchase",
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: async function (data) {
                    $("#spinner").hide();
                    $("#closed").prop("disabled", false);
                    $("#button-closed").text("Đóng");
                    if (data.state == "success") {
                        $("#notif").text("Đã đặt hàng thành công thành công");
                        await sleep(2000);
                        window.location.replace("/");
                    } else {
                        $("#notif").text("Đặt hàng không thành công");
                        await sleep(2000);
                        window.location.replace("/cartp");
                    }
                }
            });
        });
    });
</script>